
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:teal;
    position: relative;
    height: 100vh;
    margin: auto;
}

.main-container {
   position: absolute;
    top: 50px;
    bottom: 50px;
    max-width: 600px;
    width: 50vw;
    height: 50vh;
    padding:  20px 10px;
    background-color: aqua;
}
.welcome-container h1,p{
    text-align: center;
}
.welcome-container p{
    font-size:25px;
    font-weight: 400;
}
.welcome-container #quiz-start{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  30px auto;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    box-shadow: 2px 4px 46px 12px rgba(10,21,81,0.33);
}
#quiz-start:hover{
    cursor: pointer;
    background-color:rgb(17, 11, 105);
}

#quiz-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size:25px;
    font-weight: 400;
}
#quiz-container p{
    font-size:25px;
    font-weight: 400;
}
#quiz-container #next-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:  30px auto;
    padding: 10px 20px;
    background-color: blue;
    font-size: 20px;
    color: white;
}